<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lz.mvc.dao.IUserDao">
	<resultMap id="BaseResultMap" type="com.lz.mvc.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUser" resultMap="BaseResultMap" parameterType="Integer">
		select * from ts where id=#{id}
	</select>


	<select id="getUsers" resultMap="BaseResultMap">
		select * from ts
	</select>
</mapper>  